@import url('https://fonts.googleapis.com/css?family=Lato');


p
{
margin: 0;
padding: 0;
}


@media screen and (min-width: 10px) {
  html, body {
      font-family: 'Lato', serif;
      font-size: 1.2em;
      float: right;	
    }
 #map {
height: 1000px;
 width: 1000px;
 }
    
    
    nav {
      font-size: 3em;
/*       text-align: center; */
      width: 95%;
      margin-left: 0.6em;
    }
     
	a.ref { 
	font-size: 1.2em;
    color: #1F5A83;
    text-decoration: none;
	}
	
    a.ref:hover {
    color: #494949;
    text-decoration: none;
    }

    nav a, nav a:visited {
      text-decoration: none;
      color: #1F5A83;
      display: block;
	  text-align: left;

    }

    nav a:active {
      color: #232323;
      font-size: 1em;
      background-color: #966E66;
      
    }

    nav a:hover {
        color: #494949;
        text-decoration: none;
    }

    h1 {
      font-size: 1.5em;
      text-align: left;
    }

    .block {
      width: 90%;
      text-align: justify;
      margin: 1em;
      float: left;
      margin-left: 2em;
      
    }
    

    img {
      margin-top: -0.5em;
      max-width: 100%;
    }
    
    .contacts img (
		max-width : 3pt;
		
	)
	
	.contacts a (
	  text-decoration: none;
      color: #1F5A83;
      display: block;		
	)

}

@media screen and (min-width: 1000px) {


  html, body {
      font-family: 'Lato', serif;
      font-size: 1.2em;
      float: right;	
    }
    
 #map {
height: 1000px;
 width: 1000px;
 }
            
            
    .block {
      width: 40%;
      text-align: justify;
      margin: 1em;
      float: left;
      margin-left: 5%;

    }
    
    nav a {
	   display:inline;
	   text-align: center;
    }
    
     nav {
      text-align: center;
    }

}






